<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.upc.fib.idi.sergigranell.campionatdelliga">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MostraEquips"
            android:label="@string/title_activity_mostra_equips">
        </activity>
        <activity
            android:name=".MostraJugadorsEquip"
            android:label="@string/title_activity_mostra_jugadors_equip">
        </activity>
        <activity
            android:name=".MostraEquip"
            android:label="@string/title_activity_mostra_equip">
        </activity>
        <activity
            android:name=".MostraPartits"
            android:label="@string/title_activity_mostra_partits">
        </activity>
        <activity
            android:name=".MostraPartit"
            android:label="@string/title_activity_mostra_partit">
        </activity>
        <activity
            android:name=".MostraJornades"
            android:label="@string/title_activity_mostra_jornades">
        </activity>
        <activity
            android:name=".MostraJornada"
            android:label="@string/title_activity_mostra_jornada">
        </activity>
        <activity
            android:name=".AfegirPartit"
            android:label="@string/title_activity_afegir_partit">
        </activity>
        <activity android:name=".MostraClassificacioPuntsEquips">
        </activity>
    </application>

</manifest>